{% extends "spending/base.html" %}

{% block content %}
  {% include "spending/btn_section.html" %}
  <div class="col-md-6 p-2">
    <h4 class="text-center">
      {%if past %}
        Past spending
      {% else %}
        Future spending
      {%endif%}
    </h4>
    <br>
    <div class="row">
      <div class="col-md-6">
        {% if past %}
          <a href="{% url 'spending:others' 'future' %}">Future months spending</a>
        {% else %}
          <a href="{% url 'spending:others' 'past' %}">Past spending</a>
        {% endif %}
      </div>
      <div class="col-md-6">
          <a href="{% url 'spending:index' %}">Current month spending</a>
      </div>
    </div>
    <br>
    {% if spending_data %}
      <table class="table table-striped table-bordered h-25 overflow-auto">
        <thead>
          <tr>
            <th>Description</th>
            <th>How much</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for expense in spending_data %}
          <tr>
            <td>{{ expense.description }}</td>
            <td>R$ {{ expense.how_much }}</td>
            <td>{{ expense.when | date:'d/m/Y' }}</td>
            <td>
              <a href="{% url 'spending:update_expense' expense.id %}">Edit</a><br>
              <a href="{% url 'spending:delete_expense' expense.id %}">Remove</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Nothing to show</p>
    {% endif %}
  </div>
{% endblock %}