{% extends "spending/base.html" %}

{% block content %}
  <div class="row ml-3">
    <div class="col-md-6">
      <h3>Create new expense </h3>
      <br>
      <form method="post">
        {% csrf_token %}
        {% for field in form_fields %}
          <div class="form-group">
            <label for="{{ field.label }}">{{ field.label }}</label><br>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add expense</button>
      </form>
    </div>
  </div>
{% endblock %}